@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fuzzy+Bubbles&display=swap');
body {
  background-image: url("./assets/images/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.container{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 5px;
  text-align: center;
  box-shadow: rgb(235, 29, 7) 0px 0px 0px 3px;
}

h1{
  text-align: justify;
  font-size: 3rem;
  font-family: 'Fuzzy Bubbles', cursive;
  margin-top: 5px;
  margin-left: 5px;

}

.container li{
  font-family: 'Architects Daughter', cursive;
  text-align: justify;
  list-style-type: none;
  margin-top: 4px;
  font-size: 1.5rem;
}

.container input{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border-color: rgb(5, 136, 141);
}

.button-add{
  padding: 5px;
  background-color: rgb(3, 143, 38);
  color: #fff;
  border-radius: 10px;
  border-color: rgb(3, 143, 38);
}